<nav class="navbar navbar-toggleable-xl navbar-light">
  <a class="navbar-brand">
    <%= image_tag("logo.svg", size: "30", alt: "WebRTC on Rails", class: "img-fluid") %>
  </a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Documentation", "https://github.com/jeanpaulsio/action-cable-signaling-server", class: "nav-link" %>
    </li>
  </ul>
</nav>
