<h1>Action Cable Signaling Server</h1>

<span id="xirsys-creds" data-xirsys='<%= @json_response.html_safe %>'>
</span>

<div>Random User ID:
  <span id="currentUser" class="badge badge-primary"><%= @random_number %></span>
</div>

<video id="selfView" autoplay></video>
<div id="remoteViewContainer"></div>

<div id="join-btn-container">
  <button onclick="handleJoinSession()" class="btn btn-success">
    Join Room
  </button>
</div>

<div id="leave-btn-container">
  <button onclick="handleLeaveSession()" class="btn btn-danger">
    Leave Room
  </button>
</div>

<% content_for :page_js do %>
  <script type="text/javascript">
    <%= render file: "#{Rails.root}/app/views/pages/js/webrtc.js" %>
  </script>
<% end %>
